.extension-overlay {
  --bg: #f5f5f9;
  --first: #d8d8eb;
  --second: #b3b3e6;
  --third: #9999cc;
}

.extension-overlay {
  font-size: 10px;
  background-color: var(--bg);
  width: 500px;
  height: 600px;
  max-height: 600px;
  /* width: 20px;
  height: 20px; */
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  padding: 5px 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgb(57, 162, 214);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extension-overlay::before {
  content: '>';
  color: black;
  position: absolute;
  bottom: 10px;
  left: 15px;
}


.extension-overlay:hover {
  width: 500px;
  height: 60 0px;
}


.extension-overlay p {
  display: inline;

}

.overlay-overview {

  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  /* 3 columns with equal width */
  grid-template-rows: repeat(2, 20px);
}


.overlay-table-container {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  gap: 10px;
}

.overlay-table-container::-webkit-scrollbar {
  display: none;
}

.commodity-row {
  display: inline-grid;
  grid-template-rows: auto auto;
  grid-template-columns: 20px 260px 30px 60px;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--first);
  padding: 5px 5px;
}

.commodity-subrow {
  grid-column: span 5;
  display: inline-grid;

  grid-template-columns: 25px 265px 40px 60px 10px;

  gap: 5px;
  font-weight: normal;
  padding: 5px;
  background-color: var(--second);
  border-radius: 5px;

}

.commodity-subsubrow {
  grid-column: span 5;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 50px 240px 30px 40px;
  gap: 5px;
  font-weight: normal;
  padding: 5px;
  background-color: var(--third);
  border-radius: 5px;

}

.commodity-subrow:first-child {}

.commodity-subrow:nth-child(1) {
  display: none;

}

.commodity-subrow input {
  background-color: transparent;
  cursor: pointer;
}

.commodity-subrow input:focus {

  outline: none;
}

.commodity-subrow input::-webkit-inner-spin-button,
.commodity-subrow input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.commodity-pcs {
  overflow: hidden;
}